@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --green-dark: #006400;
    --green-medium: #008000;
    --green-light: #66FF66;
    --white: #FFFFFF;
  }
  
  /* Si deseas usar estas variables en tus clases personalizadas de Tailwind */
  .bg-green-dark {
    background-color: var(--green-dark);
  }
  
  .bg-green-medium {
    background-color: var(--green-medium);
  }
  
  .bg-green-light {
    background-color: var(--green-light);
  }
  
  .text-green-dark {
    color: var(--green-dark);
  }
  
  .text-green-medium {
    color: var(--green-medium);
  }
  
  .text-green-light {
    color: var(--green-light);
  }
  